<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random GranaDyy sound player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Click the button to get a random Grandy sound effect!</h1>
    <button class="button" id="button">Gimme a sound effect</button>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>